.container-full > mat-card.intro {
  width: fit-content;
}

.container-full {
  width: 66%;
  margin: auto;
}

.container-full > .intro {
  margin-top: 200px;
}

.container-full > .projects {
  margin-top: 300px;
}

.container-mob {
  width: 100%;
  margin: auto;
}

.container-mob > .intro {
  margin-top: 150px ;
}

.container-mob > .projects {
  margin-top: 16px;
}



mat-card-content, mat-card-title.more {
  text-align: center;
}

