<mat-card *ngIf="project">
  <mat-card-title>
    {{project.name}}
  </mat-card-title>
  <mat-card-subtitle>
    {{project.description}}
  </mat-card-subtitle>
  <mat-divider></mat-divider>
  <caption>
    <p>
      Languages
    </p>
    <mat-chip-list>
      <mat-chip *ngFor="let language of project.languages">{{language.name}}</mat-chip>
    </mat-chip-list>
  </caption>
  <mat-divider></mat-divider>
  <caption>
    <p>
      Frameworks
    </p>
    <mat-chip-list>
      <mat-chip *ngFor="let framework of project.frameworks">{{framework.name}}</mat-chip>
    </mat-chip-list>
  </caption>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <a mat-button routerLink="/project/{{project.id}}">Read More</a>
  </mat-card-actions>
</mat-card>
