<span fxHide.xs="true" fxHide.sm="true" class="container-full back">
  <button mat-button="" (click)="goBack()">
      Go back
  </button>
</span>
<div class="" fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="1%" fxLayoutAlign="left" *ngIf="project"
     [ngClass]="{'container-mob':false, 'container-full': true}"
     [ngClass.sm]="{'container-mob':true, 'container-full': false}"
     [ngClass.xs]="{'container-mob':true, 'container-full': false}">
  <div fxFlex="66">
    <mat-card>
      <div>
        <mat-card-title>
          {{project.name}}
        </mat-card-title>
      </div>
    </mat-card>
    <mat-card class="images" *ngIf="project._images.length > 0">
      <slideshow [imageUrls]="project._images"
                 [minHeight]="'300px'"
                 [autoPlay]="true"></slideshow>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Description
      </mat-card-title>
      <mat-card-content>
        {{project._full_description}}
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="33" class="expansion">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Links
          </mat-panel-title>
        </mat-expansion-panel-header>
        <social *ngFor="let social of project._socials" [social]="social"></social>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Related Projects
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
