/*.img {*/
  /*width: 100%;*/
  /*margin-bottom: 18%;*/
/*}*/
/*.card-picture {*/
  /*width: 23%;*/
  /*margin-bottom: 2%;*/
/*}*/
/*.container {*/
  /*min-height: 100%;*/
  /*width: 100%;*/
/*}*/
/*.search-form {*/
  /*width: 90%;*/
/*}*/
.img {
  width: 100%;
  margin-bottom: 18%;
}
.card-picture {
  width: 23%;
  margin-bottom: 2%;
}
.container-full {
  width: 75%;
  margin: auto;
  min-height: 100%;
}
.container-mob {
  width: 100%;
  margin: auto;
  min-height: 100%;
}
.search-form {
  width: 90%;
}
project {
  margin: 8px;
  min-width: 300px;
  max-width: calc(25% - 16px);
}
